Repository cjmaxik/everyday-neuro-bingo, pull requests merged in 2023-07, with the labels that each got.

#60 Neuro-sama plays Minecraft
  README.md
  public/assets/images/neuro/minecraft/minecraftskin.png
  public/assets/images/neuro/minecraft/minehead.png
  public/assets/images/neuro/minecraft/neuroLava.png
  public/assets/sounds/neuro/gymbag.mp3
  public/assets/sounds/neuro/minecraft/bedrockismineable.mp3
  public/assets/sounds/neuro/minecraft/diggingisfun.mp3
  public/assets/sounds/neuro/minecraft/fallingintolava.mp3
  public/assets/sounds/neuro/minecraft/minecraftisfun.mp3
  quasar.config.js
  src/components/AboutModal.vue
  src/components/StreamTypeItem.vue
  src/components/StreamTypeLinks.vue
  src/helpers/emotesList.js
  src/prompts/indexMenu.js
  src/prompts/minecraftNeuro.js
  src/prompts/prompts.js
Labels: enhancement, prompts

#63 Split board testing
  public/assets/images/neuro/chat.png
  src/pages/BingoPage.vue
  src/prompts/indexMenu.js
  src/prompts/neuro.js
  src/prompts/nuero.js
  src/prompts/prompts.js
Labels: enhancement

#65 Updated prompts schema
  jsconfig.json
  quasar.config.js
  src/components/StreamTypeLinks.vue
  src/conf/indexMenu.js
  src/conf/prompts.js
  src/pages/BingoPage.vue
  src/pages/IndexPage.vue
  src/prompts/characters/anny.js
  src/prompts/characters/evilNeuro.js
  src/prompts/characters/filian.js
  src/prompts/characters/miyune.js
  src/prompts/characters/neuro.js
  src/prompts/characters/shylily.js
  src/prompts/characters/vedal.js
  src/prompts/family/anny.js
  src/prompts/family/family.js
  src/prompts/family/neuro.js
  src/prompts/family/vedal.js
  src/prompts/prompts.js
  src/prompts/solo/emoteTest.js
  src/prompts/solo/evil.js
  src/prompts/solo/minecraftNeuro.js
  src/prompts/solo/neuro.js
  src/prompts/vedal.js
  src/prompts/xAnny/xAnny.js
  src/prompts/xEvil/evilNeuro.js
  src/prompts/xEvil/neuro.js
  src/prompts/xEvil/xEvil.js
  src/prompts/xFilian/xFilian.js
  src/prompts/xMiyune/neuro.js
  src/prompts/xMiyune/xMiyune.js
  src/prompts/xShylily/neuro.js
  src/prompts/xShylily/xShylily.js
  src/prompts/xVedal/xVedal.js
  src/stores/gameState.js
Labels: enhancement

#69 KSP stream
  .vscode/settings.json
  jsconfig.json
  public/assets/images/emotes/ICANT_a.webp
  public/assets/images/emotes/ICANT_s.webp
  public/assets/images/emotes/PANIC_a.webp
  public/assets/images/emotes/PANIC_s.webp
  public/assets/images/generic/generic.png
  public/assets/images/vedal/ksp/kerbal.png
  public/assets/images/vedal/vedalKsp.png
  public/assets/images/vedal/vedalSpaceProgram.png
  public/assets/sounds/generic/generic.mp3
  public/assets/sounds/neuro/gymbag.mp3
  quasar.config.js
  src/conf/indexMenu.js
  src/conf/prompts.js
  src/helpers/emotesList.json
  src/helpers/helpers.js
  src/prompts/characters/chat.js
  src/prompts/characters/generic.js
  src/prompts/characters/neuro.js
  src/prompts/characters/vedal.js
  src/prompts/family/anny.js
  src/prompts/family/neuro.js
  src/prompts/family/vedal.js
  src/prompts/ksp/ksp.js
  src/prompts/solo/emoteTest.js
  src/prompts/solo/evil.js
  src/prompts/solo/minecraftNeuro.js
  src/prompts/solo/neuro.js
  src/prompts/xAnny/xAnny.js
  src/prompts/xEvil/evilNeuro.js
  src/prompts/xEvil/neuro.js
  src/prompts/xFilian/xFilian.js
  src/prompts/xMiyune/neuro.js
  src/prompts/xMiyune/xMiyune.js
  src/prompts/xShylily/neuro.js
  src/prompts/xShylily/xShylily.js
  src/prompts/xVedal/xVedal.js
  src/stores/gameState.js
Labels: enhancement, prompts

#71 Prompts revision for Neuro and Vedal
  src/helpers/helpers.js
  src/prompts/characters/chat.js
  src/prompts/characters/neuro.js
  src/prompts/characters/vedal.js
  src/prompts/ksp/ksp.js
  src/prompts/xVedal/xVedal.js
Labels: prompts

#72 Generic collab support
  src/conf/indexMenu.js
  src/conf/prompts.js
  src/pages/BingoPage.vue
  src/prompts/characters/generic.js
  src/prompts/characters/genericCollab.js
  src/prompts/characters/neuro.js
  src/prompts/tests/emote.js
  src/prompts/xAnyone/xAnyone.js
  src/prompts/xVedal/xVedal.js
  src/stores/gameState.js
Labels: prompts

#73 Prompts revision 07/07
  public/assets/images/emotes/NOTED_a.webp
  public/assets/images/emotes/NOTED_s.webp
  public/assets/images/emotes/notNOTED_a.webp
  public/assets/images/emotes/notNOTED_s.webp
  src/components/BingoBlockItem.vue
  src/components/StreamTypeLinks.vue
  src/conf/indexMenu.js
  src/conf/prompts.js
  src/css/app.scss
  src/helpers/emotesList.json
  src/prompts/characters/chat.js
  src/prompts/characters/vedal.js
  src/prompts/solo/vedal.js
  src/prompts/tests/emote.js
  src/prompts/xVedal/xVedal.js
Labels: prompts

#74 Evil Neuro prompts revision
  public/assets/images/emotes/neuroNoted_a.webp
  public/assets/images/emotes/neuroNoted_s.webp
  public/assets/images/evilNeuro/evilStare.png
  src/helpers/emotesList.json
  src/prompts/characters/chat.js
  src/prompts/characters/evilNeuro.js
  src/prompts/solo/evil.js
  src/prompts/solo/neuro.js
Labels: prompts

#76 Chill stream tmrw
  src/conf/indexMenu.js
Labels: enhancement

#75 Evil plays Minecraft
  public/assets/images/evilNeuro/evilMinecraftChad.png
  public/assets/images/evilNeuro/evilminehead.png
  public/assets/sounds/evilNeuro/evilKEEEEEEEK.mp3
  public/assets/sounds/evilNeuro/evilKEK.mp3
  public/assets/sounds/evilNeuro/evilKEKWA.mp3
  public/assets/sounds/evilNeuro/evilfrick.mp3
  public/assets/sounds/evilNeuro/evilfrickyou.mp3
  src/conf/indexMenu.js
  src/conf/prompts.js
  src/prompts/characters/evilNeuro.js
  src/prompts/solo/minecraftEvil.js
Labels: enhancement, prompts

#77 Sound volume slider
  src/components/SettingsPanel.vue
  src/helpers/types.d.js
  src/pages/BingoPage.vue
  src/stores/gameSettings.js
Labels: enhancement

#78 Pirates!
  public/assets/images/neuro/pirate/DeepfriedPirateNeuro.png
  src/components/StreamTypeLinks.vue
  src/conf/indexMenu.js
  src/conf/prompts.js
  src/prompts/solo/pirateNeuro.js
Labels: prompts

#80 VSP revision 1.5
  public/assets/images/emotes/Clap_a.webp
  public/assets/images/emotes/Clap_s.webp
  public/assets/images/emotes/EZ_a.webp
  public/assets/images/emotes/EZ_s.webp
  public/assets/images/emotes/neuro7_a.webp
  public/assets/images/emotes/neuro7_s.webp
  public/assets/images/emotes/peepoCheer_a.webp
  public/assets/images/emotes/peepoCheer_s.webp
  src/conf/indexMenu.js
  src/helpers/emotesList.json
  src/prompts/characters/neuro.js
  src/prompts/ksp/ksp.js
Labels: enhancement, prompts

#82 Character separation for index menu
  jsconfig.json
  public/assets/images/menu/evil.png
  public/assets/images/menu/neuro.png
  public/assets/images/menu/vedal.png
  quasar.config.js
  src/components/IndexMenuButton.vue
  src/components/StreamTypeLinks.vue
  src/conf/indexMenu.js
  src/conf/prompts.js
  src/css/app.scss
  src/css/quasar.variables.scss
  src/pages/IndexPage.vue
  src/prompts/streams/evil/minecraftEvil.js
  src/prompts/streams/evil/solo.js
  src/prompts/streams/evil/xNumi/xNumi.js
  src/prompts/streams/neuro/family/anny.js
  src/prompts/streams/neuro/family/family.js
  src/prompts/streams/neuro/family/neuro.js
  src/prompts/streams/neuro/family/vedal.js
  src/prompts/streams/neuro/minecraftNeuro.js
  src/prompts/streams/neuro/pirateNeuro.js
  src/prompts/streams/neuro/solo.js
  src/prompts/streams/neuro/xAnny/xAnny.js
  src/prompts/streams/neuro/xAnyone/xAnyone.js
  src/prompts/streams/neuro/xEvil/evilNeuro.js
  src/prompts/streams/neuro/xEvil/neuro.js
  src/prompts/streams/neuro/xEvil/xEvil.js
  src/prompts/streams/neuro/xFilian/xFilian.js
  src/prompts/streams/neuro/xMiyune/neuro.js
  src/prompts/streams/neuro/xMiyune/xMiyune.js
  src/prompts/streams/neuro/xShylily/neuro.js
  src/prompts/streams/neuro/xShylily/xShylily.js
  src/prompts/streams/tests/emote.js
  src/prompts/streams/vedal/ksp.js
  src/prompts/streams/vedal/solo.js
  src/prompts/streams/vedal/xNeuro.js
Labels: enhancement
